<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @photo.post %>
</p>

<p>
  <strong>Name:</strong>
  <%= @photo.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @photo.photo %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
